<h1>Log In</h1>
<section class = "form">
  <%= form_tag login_path do  %>

    <%= label_tag :email %>
    <p><%= text_field_tag :email %></p>

    <%= label_tag :password %>
    <p><%= password_field_tag :password %></p>

    <p><%= submit_tag 'Log In' %></p>
  <% end %>
</section>
