<h1>Sign in</h1>
<section class = "form">
  <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <p><%= f.text_field :name %></p>

    <%= f.label :street %>
    <p><%= f.text_field :street %></p>

    <%= f.label :city %>
    <p><%= f.text_field :city %></p>

    <%= f.label :state %>
    <p><%= f.text_field :state %></p>

    <%= f.label :zipcode %>
    <p><%= f.text_field :zipcode %></p>

    <%= f.label :email %>
    <p><%= f.email_field :email %></p>

    <%= f.label :password %>
    <p><%= f.password_field :password %></p>

    <%= f.label :password_confirmation %>
    <p><%= f.password_field :password_confirmation %></p>

    <%= f.submit('Submit') %>
  <% end %>
</section>
