<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>
<h3>Address:</h3>
<p><%= @user.street %></p>
<p><%= @user.city %>, <%= @user.state %> <%= @user.zipcode %></p>
<% if current_reguser? %>
<%= link_to 'Edit Details', edit_profile_path %>
  <% if @user.orders.count > 0 %>
    <%= link_to 'My Orders', profile_orders_path %>
  <% end %>
<% end %>
<% if admin_user? %>
<%= link_to 'Upgrade', admin_user_path(@user, upgrade: true), method: :patch %>
<% end %>
