<h1>Welcome to Little Coffee Shop</h1>

<p>Little Coffee Shop is a fictitious e-commerce platform created for a project from the Backend Engineering program at Turing School of Software & Design.</p>

<h2>Contributors</h2>
<ul>
  <li><%= link_to "Blake Enyart", "https://github.com/blake-enyart", target: :_blank%></li>
  <li><%= link_to "Matt Levy", "https://github.com/milevy1", target: :_blank%></li>
  <li><%= link_to "Michael Karnes", "https://github.com/mikekarnes123", target: :_blank%></li>
  <li><%= link_to "Noah Flint", "https://github.com/n-flint", target: :_blank%></li>
  <li><%= link_to "Rene Casco", "https://github.com/renecasco", target: :_blank%></li>
</ul>
