<h1>Merchants</h1>

<section class = "merchants-container">
  <% @merchants.each do |merchant| %>
    <section id='merchant-<%= merchant.id %>'>
      <ul>
        <% if admin_user? %>
        <li><%= link_to merchant.name, admin_merchant_path(merchant) %></li>
        <li><%= link_to 'Disable' %></li>
        <% else %>
        <li><%= link_to merchant.name, merchant_path(merchant) %></li>
        <% end %>
        <li><%= merchant.city%></li>
        <li><%= merchant.state%></li>
        <li><%= merchant.created_at%></li>
      </ul>
    </section>
  <% end %>
  <% if admin_user? %>
  <% @merchants_disbled.each do |merchant| %>
    <section id='merchant-<%= merchant.id %>'>
      <ul>
        <li><%= link_to merchant.name, merchant_path(merchant) %></li>
        <li><%= merchant.city%></li>
        <li><%= merchant.state%></li>
        <li><%= merchant.created_at%></li>
        <li><%= link_to 'Enable' %></li>
      </ul>
    </section>
  <% end %>
  <% end %>
</section>
