<h1>Merchants</h1>

<section class = "items-container">
  <% @merchants.each do |merchant| %>
    <section class = "item-card" id='merchant-<%= merchant.id %>'>
        <h3 class="bg-dark text-white" ><%= link_to merchant.name, merchant_path(merchant) %></h3>
      <ul>
        <li>City: <%= merchant.city%></li>
        <li>State: <%= merchant.state%></li>
        <li><%= merchant.created_at%></li>
        <% if admin_user? %>
        <li><%= link_to merchant.name, admin_merchant_path(merchant) %></li>
        <li><%= link_to 'Disable' %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <% if admin_user? %>
  <% @merchants_disbled.each do |merchant| %>
    <section id='merchant-<%= merchant.id %>'>
      <ul>
        <li><%= link_to merchant.name, merchant_path(merchant) %></li>
        <li><%= merchant.city%></li>
        <li><%= merchant.state%></li>
        <li><%= merchant.created_at%></li>
        <li><%= link_to 'Enable' %></li>
      </ul>
    </section>
  <% end %>
  <% end %>
</section>
