<%= render partial: 'users/show' %>

<%= link_to "View my Items", dashboard_items_path %>

<section id="top-5-items-sold">
<ul>
  <% @top_five_items_sold.each do |item|  %>
  <li><%= item.name %> - <%= item.quantity_sold %></li>
  <% end %>
</ul>
</section>

<section id="percent-inventory-sold">
  <p>Sold <%= @user.items_sold %> items, which is <%= @user.percent_inventory_sold %>% of your total inventory.</p>
</section>

<section id='pending-orders'>
  <% @pending_orders.each do |order| %>
  <section id="pending-order-card-<%= order.id %>">
    <p><%= link_to order.id, dashboard_order_path(order) %>,
    <%= order.created_at %>, Quantity: <%= order.total_quantity %>,
    Total Value: $<%= order.grand_total %>
    </p>
  </section>
  <% end %>
</section>
