<%= render partial: 'users/show' %>

<%= link_to "View my Items", dashboard_items_path %>

<section id="top-5-items-sold">
  <h1>Top 5 Items Sold</h1>
<ul>
  <% @top_five_items_sold.each do |item|  %>
  <li><%= item.name %> - <%= item.quantity_sold %></li>
  <% end %>
</ul>
</section>

<section id="percent-inventory-sold">
  <h1>Inventory Stats</h1>
  <p>Sold <%= @user.items_sold %> items, which is <%= @user.percent_inventory_sold %>% of your total inventory.</p>
</section>

<section id="top-3-states">
  <h1>Top Three States</h1>
  <p>
    <% @user.top_three_states_with_quantity_sold.each do |relation| %>
    <%= relation.state %> - <%= relation.quantity_sold %> items
    <% end %>
  </p>
</section>

<% if @best_customer_by_orders %>
<section id="best-customers">
  <p>Best customer by orders: <%= @best_customer_by_orders.name %> - <%= @best_customer_by_orders.order_count %> orders</p>
  <p>Best customer by items: <%= @best_customer_by_items.name %> - <%= @best_customer_by_items.items_ordered %> items</p>
  <p>Best customers by revenue:
    <% @best_customers_by_revenue.each do |customer| %>
    <%= customer.name %> - $<%= customer.revenue %>
    <% end %>
  </p>
</section>
<% end %>

<section id='pending-orders'>
  <% @pending_orders.each do |order| %>
  <section id="pending-order-card-<%= order.id %>">
    <p><%= link_to order.id, dashboard_order_path(order) %>,
    <%= order.created_at %>, Quantity: <%= order.total_quantity %>,
    Total Value: $<%= order.grand_total %>
    </p>
  </section>
  <% end %>
</section>
