<h1>Little Coffee Shop Items </h1>

<section class = 'items-container'>
  <% @items.each do |item| %>
    <section class = item id='item-<%= item.id %>'>
      <h3 class="bg-dark text-white"><%= link_to item.name, item_path(item) %></h3>
      <ul>
        <li><%= link_to image_tag(item.image_url, alt: "Image of #{item.name}"), item_path(item) %></li>
        <li>Merchant: <%= item.user.name %></li>
        <li>Items In stock: <%= item.quantity %></li>
        <li>Price: <%= number_to_currency(item.price) %></li>
      </ul>
    </section>
  <% end %>
<section id = 'statistics-container'>
  <section class = 'stats-item' id = 'popular-items'>
    <h3>5 Most Popular Items</h3>
    <ul>
      <% @most_popular.each do |item| %>
        <li><%= item.name %>: <%= item.total_fulfilled %></li>
      <% end %>
    </ul>
  </section>
  <section class = 'stats-item' id = 'unpopular-items'>
    <h3>5 Least Popular Items </h3>
    <ul>
    <% @least_popular.each do |item| %>
      <li><%= item.name %>: <%= item.total_fulfilled %></li>
    <% end %>
  </section>
</section>
