<!DOCTYPE html>
<html>
  <head>
    <title>LittleCoffeeShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav>
    <%= link_to "Items", items_path %>
    <%= link_to "Merchants", merchants_path %>
    <%= link_to "Cart", cart_path %>
    <% unless current_user %>
      <%= link_to "Login", login_path %>
      <%= link_to "Register", new_user_path %>
    <% end %>
    <%= link_to "Home", root_path %>

    <% if current_reguser? %>
      <%= link_to "Profile", profile_path %>
      <%= link_to "Logout", logout_path %>
      <section>Logged in as <%= current_user.name %> </section>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
